body {
    margin-left: 50px;
    margin-right: 50px;
}
p {
    font-size: 18px;
}

.top-title {
    text-align: center;
}

.byline {
    text-align: left;
}

.header {
    position: relative;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('https://www.flickr.com/photos/141611709@N04/26336017243/in/dateposted-public/');
    color: white;
    background-size: cover;
  height: 100vh;
    background-repeat: no-repeat;
}

.top-title .byline {
    text-align: center;
}